<div class="container height-wrapper">
    <div class="container">
        <h2 class="text-center py-3">Información de contacto</h2>
        <div class="container d-flex justify-content-center">
            <div class="d-flex flex-column">
                <p class="fw-semibold fst-italic">
                    Con este proyecto, el objetivo es apoyarme en la búsqueda de empleo, siendo mi interés trabajar de forma remota.
                </p>

                <p class="fw-semibold">
                    Me puedes contactar al correo: <br>
                    <i class="bi bi-envelope-at-fill"></i> &nbsp; <mark>jorgeluis.tapia@gmail.com</mark>
                </p>
                <hr>
                <p>
                    Y agradezco también cualquier sugerencia.
                </p>
                <p>
                    Mis saludos.
                </p>
            </div>
        </div>
    </div>
  </div>