<div class="container height-wrapper">
  <h2 class="text-center py-3">Información de contacto</h2>
  <div class="container">
    <div class="d-flex flex-column">
      <p class="fw-semibold fst-italic">
        Con este proyecto, el objetivo es apoyarme en la búsqueda de empleo, siendo mi interés trabajar de forma remota.
      </p>
      
      <p class="fw-semibold fst-italic text-start">
        Me puedes contactar al correo haciendo click en el ícono &nbsp;
        <a mt-1 href="mailto:jorgeluis.tapia@gmail.com"> <i class="bi bi-envelope-at-fill"></i></a>
         <br>
         O bien, directamente a:
         <span class="inline-block"><mark class="p-0 fw-semibold">jorgeluis.tapia@gmail.com</mark></span>
      </p>
      
      
      <p class="fw-lighter">
        Y agradezco también cualquier sugerencia.
      </p>
      <p class="fw-semibold">
        Mis saludos.
      </p>
    </div>
  </div>
</div>