{% extends 'base.html' %}

{% block title %}
  Inicio
{% endblock title %}

{% block body %}

  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 offset-md-3">
        <div class="card p-3 mx-auto bg-light bg-gradient">
          <h3 class="text-center">Presentación</h3>
          <p>Página dedicada a la práctica de Django, con utilidades y recursos personales.</p>
          <p>El objetivo es ir recogiendo y sumando el conocimiento adquirido.</p>
        </div>      
      </div>
    </div>
  </div>

{% endblock body %}