<div class="container height-wrapper">
  <h2 class="text-center py-3">Sobre este sitio</h2>
  <div class="container d-flex justify-content-center">
    <div class="d-flex flex-column">
      <p>Sitio dedicado a la práctica de Django, con utilidades y recursos personales para ayudarme en la mejora de habilidades en el desarrollo de aplicaciones web.</p>
      <p>Portfolio diseñado con intención de mostrar algunos conocimientos adquiridos, como ayuda para ser visualizado por reclutadores y líderes de equipos, potenciando mis opciones en la búsqueda de empleo.</p>
      <p>Credenciales ingreso invitado: <mark class="p-0">Nombre de usuario: invitado</mark>, <mark class="p-0">Contraseña: 1nv1t4d0</mark>
        <p class="blockquote-footer">
          Las aplicaciones del sitio, se pueden visualizar una vez iniciada la sesión.
        </p>
      </p>
    </div>
  </div>
</div>