<ul class="nav nav-tabs justify-content-center sticky-top cont-inicio-tab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" data-bs-toggle="pill" data-bs-target="#tab-laboral" type="button" role="tab" aria-controls="tab-laboral" aria-selected="true">Formación y experiencia laboral</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" data-bs-toggle="pill" data-bs-target="#tab-formacion" type="button" role="tab" aria-controls="tab-formacion" aria-selected="false">Formación autodidacta</button>
    </li>
</ul>
<div class="tab-content">
    <div class="tab-pane fade show active height-wrapper" id="tab-laboral" role="tabpanel" aria-labelledby="pills-tab-laboral" tabindex="0">
        <div class="container p-3">
            <dl>
                <dt>
                    Formación
                </dt>
                <dd>
                    Egresado de Ingeniería de ejecución en comercio internacional en el año 2006 en el instituto profesional Esucomex.
                </dd>
                <dt>
                    Experiencia laboral
                </dt>
                <dd>
                    Mi experiencia más relevante ha sido en contact centers, en el área de gestión y planificación. Desarrollando tareas de análisis de resultados, proyección de la demanda y asignación de turnos del personal.
                </dd>
            </dl>
            <p>
                En este trabajo, lo más usado fue Excel, y a través de los años, logré un dominio algo avanzado en este programa. Utilicé también Power Query para varias tareas de ETL, Power Pivot en algunos análisis, además de macros.
            </p>
        </div>
    </div>
    <div class="tab-pane fade show height-wrapper" id="tab-formacion" role="tabpanel" aria-labelledby="tab-tab-formacion" tabindex="0">
        <div class="container p-3">
            <p>
                Desde el 2020, comienzo a investigar en diversos portales de formación en línea, distintas tecnologías y especializaciones. Sin lograr en ese entonces entender realmente qué buscaba, fui realizando muchos cursos en plataformas como capacitateparaelempleo, coursera, udemy, linkedin y youtube. Aprendiendo las bases de varias tecnologías y de la programación en general.
            </p>
            <p>
                Mi primer avance fue gestionar un proceso completo, levanté un servidor Centos en una máquina virtual a la que me conectaba por ssh, en la que tenía MariaDB como base de datos y PHP, y los archivos html los enviaba por FTP. El proceso funcionó, no era realmente lo que buscaba, pero aprendí bastante con eso.
            </p>
            <p>
                Por el lado del análisis de datos, realicé cursos de SQL, R, Python y Power BI, siendo esta un área que llamaba totalmente mi atención.
            </p>
            <p>
                Quería experimentar otras tecnologías importantes y aprendí las bases de Java y C#, participé de un bootcamp en Java, logrando al final, desarrollar una aplicación de escritorio con Swing y mejorar el concepto de orientación a objetos.
            </p>
            <p>
                Finalmente fui consolidando lo que al día de hoy se va volviendo mi stack, que es por un lado el análisis y por otro el desarrollo web con Django, cuya elección termina siendo casi obvia, al mantener Python como unión de estos 2 mundos. Mis sesiones de estudio actuales, se concentran en Python, Django, PostgreSQL, Frontend y Power BI, junto a revisar frecuentemente los recursos complementarios como GIT, Linux, Estadísticas y otros.
            </p>

        </div>
    </div>
</div>