{% load static %}
<nav class="navbar navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'inicio' %}">
            <img src={% static 'img/favicon.ico' %} alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
            Mi sitio
        </a>
        {% if user.is_authenticated %}
          <h3 class="text-white m-auto">Sesión iniciada como: {{ user.username }} </h3>
        {% endif %}
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
        <div class="offcanvas-header">
            {% if user.is_authenticated %}
                <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">{{ user.username }}</h5>
                <a class="nav-link ms-2" href="{% url 'logout' %}"> Logout </a>
            {% else %}
            <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">No autenticado</h5>
                <a class="nav-link ms-2" href="{% url 'login' %}">Login</a>
            {% endif %}
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">

            {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'inicio' %}">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'estudios' %}">Calendario estudios</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'ahorro' %}">Proyección ahorro</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Administración
                </a>
                <ul class="dropdown-menu dropdown-menu-dark">
                  {% if user.is_authenticated and user.is_staff %}
                    <li><a class="dropdown-item" href="/admin/">Admin</a></li>
                  {% endif %}
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li><a class="dropdown-item" href="{% url 'password_reset' %}">Reenvío de contraseña</a></li>
                </ul>
              </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'inicio' %}">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'password_reset' %}">Reenvío de contraseña</a>
            </li>
            {% endif %}

          </ul>
        </div>
      </div>
    </div>
  </nav>