<div class="container text-white">

	<p class="pt-1">
		La aplicación propone un sistema de presupuesto, que se compone por un ahorro, que se depositaría en cuentas de depósito a plazo. La lógica es evitar un ahorro plano, para concretar la compra de un producto o la realización de algún proyecto de costo elevado y un horizonte de un año o más.
	</p>

	<h6 class="text-start pt-1">La lógica es la siguiente:</h6>
	
	<p>
		Si tenemos de proyecto tomar unas vacaciones por un monto de $1.200.000 <br>
		
		<ul>
			<li>
				Nombre del proyecto = <mark>Vacaciones</mark>
			</li>
			<li>
				Valor presente = <mark>$1.200.000</mark>
			</li>
			<li>
				Plazo = <mark>1</mark> año (12 meses)
				<ul>
					<li>
						Cuota mensual = $1.200.000 / 12 <br>
						&emsp; = $100.000
					</li>
				</ul>
			</li>
			<li>
				Proyección interés mensual = <mark>1%</mark>
			</li>
		</ul>
	</p>
	
	<p>
		Si aplicamos un interés a la cuota de $100.000, desde el primer mes, nos queda lo siguiente: <br>
		
		<table id="tabla-ahorro" class="table table-bordered table-sm text-white table-hover">
			<thead>
				<tr>
					<th>Mes</th>
					<th>Interés = cuota anterior * interés</th>
					<th>Valor cuota (cuota anterior + interés)</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1</td>
					<td>$100.000 * 1% = $1.000</td>
					<td>$101.000</td>
				</tr>
				<tr>
					<td>2</td>
					<td>$101.000 * 1% = $1.010</td>
					<td>$102.010</td>
				</tr>
				<tr>
					<td>3</td>
					<td>$102.010 * 1% = $1.020</td>
					<td>$103.030</td>
				</tr>
				<tr>
					<td>4</td>
					<td>$103.030 * 1% = $1.030</td>
					<td>$104.060</td>
				</tr>
				<tr>
					<td>5</td>
					<td>$104.060 * 1% = $1.041</td>
					<td>$105.101</td>
				</tr>
				<tr>
					<td>6</td>
					<td>$105.101 * 1% = $1.051</td>
					<td>$106.152</td>
				</tr>
				<tr>
					<td>7</td>
					<td>$106.152 * 1% = $1.062</td>
					<td>$107.214</td>
				</tr>
				<tr>
					<td>8</td>
					<td>$107.214 * 1% = $1.072</td>
					<td>$108.286</td>
				</tr>
				<tr>
					<td>9</td>
					<td>$108.286 * 1% = $1.083</td>
					<td>$109.369</td>
				</tr>
				<tr>
					<td>10</td>
					<td>$109.369 * 1% = $1.094</td>
					<td>$110.462</td>
				</tr>
				<tr>
					<td>11</td>
					<td>$110.462 * 1% = $1.105</td>
					<td>$111.567</td>
				</tr>
				<tr>
					<td>12</td>
					<td>$111.567 * 1% = $1.116</td>
					<td>$112.683</td>
				</tr>
			</tbody>
			<tfoot>
				<tr class="bg-secondary">
					<th colspan=2 class="text-center">Total acumulado</th>
					<th>$1.280.993</th>
				</tr>
			</tfoot>
		</table>
	</p>
	
	<p>
	El objetivo es tener luego de 1 año, un total de $1.280.993, lo que en cuotas fijas serían $106.744. <br>
	Entonces, considerando el aumento en el costo, no se puede proyectar $100.000, sino $106.744 en 12 cuotas fijas para tener en 1 año el total para el proyecto, o su equivalente según la tabla anterior.
	</p>

	<p>
		Lo que se busca es, por lo tanto, disminuir la cuota mensual, al depositar las cuotas a ahorrar en depósitos a plazo, que equilibren el aumento del costo esperado.
	</p>

	<p>
		<h6 class="text-start pt-1">Ejemplo primera cuota de ahorro en depósito a plazo:</h6>
		Cada cuota pasa por su propio proceso, aunque las últimas no se incluyen si terminan más allá del plazo definido para el proyecto.
	</p>

	<p>
		<ul>
			<li>
				Plazo = <mark>60</mark> días
			</li>
			<li>
				Interés depósito = <mark>0.7%</mark> mensual
				<ul>
					<li>
						He visto llegar a 0.95%, hay que revisar opciones
					</li>
				</ul>
			</li>
		</ul>

		<table id="tabla-deposito" class="table table-bordered table-sm text-white table-hover">
			<thead>
				<tr>
					<th>Ciclo</th>
					<th>Mes</th>
					<th>Inversión</th>
					<th>Interés = ((inversión * interés) / 30) * duración ciclo</th>
					<th>Valor en 60 días</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1</td>
					<td>1</td>
					<td>$101.000</td>
					<td>$1.414</td>
					<td>$102.414</td>
				</tr>
				<tr>
					<td>2</td>
					<td>3</td>
					<td>$102.414</td>
					<td>$1.434</td>
					<td>$103.848</td>
				</tr>
				<tr>
					<td>3</td>
					<td>5</td>
					<td>$103.848</td>
					<td>$1.454</td>
					<td>$105.302</td>
				</tr>
				<tr>
					<td>4</td>
					<td>7</td>
					<td>$105.302</td>
					<td>$1.474</td>
					<td>$106.776</td>
				</tr>
				<tr>
					<td>5</td>
					<td>9</td>
					<td>$106.776</td>
					<td>$1.495</td>
					<td>$108.271</td>
				</tr>
				<tr>
					<td>6</td>
					<td>11</td>
					<td colspan=3>No se considera ya que retrasaría el inicio del proyecto</td>
				</tr>
			</tbody>
			<tfoot>
				<tr class="bg-secondary">
					<th colspan=4 class="text-center">$101.000 luego de inversión</th>
					<th>$108.271</th>
				</tr>
			</tfoot>
		</table>

		<blockquote class="blockquote-footer text-white pt-1">
			Esto es un proceso automático luego del depósito y, solamente habría que realizar el rescate en el mes 11 al finalizar el quinto ciclo. <br>
			Si se realiza este proceso con los montos calculados en la primera tabla (comenzando con $101.000), sobrepasamos el objetivo de $1.280.993, calculado por ese 1% de interés esperado. Y si solamente depositamos $100.000 mensuales, es probable no se ajuste a ese interés (aunque por supuesto ayudaría).
		</blockquote>

		Hemos visto el ciclo de una cuota depositada y las demás tendrán el mismo trato. <br>
	</p>
	<hr>
	<p>
		El cálculo completo de la aplicación, busca estimar la cuota de inicio, junto a una nueva tasa de interés para las cuotas futuras y ajustarse en el resultado al valor objetivo inicial al final del proceso, sumando las ganancias por los depósitos. <br>
		<p>
			La precisión, permite ajustar los resultados y los saldos sobrantes, pero genera iteraciones adicionales lo que aumenta el tiempo de respuesta.
		</p>
	</p>

	<p>
		En los valores referenciales del formulario, se plantean los descritos en esta guía, generando una ganancia de casi $38.000 en precisión "Muy alta", disminuyendo con eso el interés esperado de 1% a 0.54%. <br>
		Puede ser o no relevante a primera vista, pero duplica el monto para un horizonte de 2 años, dejando los mismos otros valores y se logra una ganancia por los depósitos de $200.000, bajando a 0.4 el interés esperado.
	</p>

	<p>
		Se puede entonces considerar como proyectos: cambiar un living, un refrigerador, realizar una ampliación o remodelación, para vacaciones como en el ejemplo, etc.
	</p>		

</div>
