{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% crispy form form.helper %}

{% block title %}
  Proyectando ahorro
{% endblock title %}

{% block body %}
{% load crispy_forms_tags %}

  <div class="container-sm-fluid container-lg">
    <div class='row'>
      <div class='col-sm-12 col-md-4 ps-2 pt-lg-5 mt-lg-5'>
          {% crispy form %}
      </div>

      <div class='col-sm-12 col-md-8 pe-2'>
        
        {% comment %} título {% endcomment %}
        {% if request.method == 'POST' %}
          <h2 class="text-center">Proyección para {{ producto }}</h2>
          
          <ul class="nav nav-tabs justify-content-center rounded">
            <li class="nav-item border">
              <a class="nav-link text-white active" data-bs-toggle="pill" href="#pie">Gráfica</a>
            </li>
            <li class="nav-item border">
              <a class="nav-link text-white" data-bs-toggle="pill" href="#df">Tabla</a>
            </li>
          </ul>
          
          <div class="tab-content">
            <div id="pie" class="container tab-pane fade show active">
              {% comment %} pie {% endcomment %}
              <div>
                {% if pie %}
                <img src="data:image/png;base64,{{ pie }}" alt="pie chart">
                {% endif %}
              </div>
            </div>
            <div id="df" class="container tab-pane fade show">
              {% comment %} df {% endcomment %}
              <div class="table-wrapper">
                {% if df %}
                {% autoescape off %}
                {{ df }}
                {% endautoescape %}
                {% endif %}
              </div>
            </div>
          </div>
          
        {% endif %}
          
      </div>
    </div>
  </div>
    
{% endblock body %}
