{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% crispy form form.helper %}

{% block title %}
  Proyectando ahorro
{% endblock title %}

{% block body %}
<link rel="stylesheet" href={% static 'css/ahorro.css' %}>

  <div>
    <div class="float-end">
      {% if request.method == 'GET' %}
        {% comment %} <button id="btn-ayuda" class="me-3">Guía</button> {% endcomment %}
        <a id="btn-ayuda" class="btn btn-primary me-3">Guía</a>
        <a href="{% url 'ahorro' %}" id="btn-reinicio" class="btn btn-primary me-3">Reiniciar</a>
      {% else %}
        <a href="{% url 'ahorro' %}" id="btn-reinicio" class="btn btn-primary me-3">Reiniciar</a>
      {% endif %}
    </div>
    <h1 class="text-white text-center">Proyección ahorro con depósito a plazo</h1>
  </div>
  
  {% if request.method == 'POST' %}
    <div class="d-flex justify-content-center">
      <h2 class="d-flex text-white bg-dark">Proyección para {{ producto }}</h2>
    </div>
  {% endif %}
  
  {% if request.method == 'GET' %}
    <div id="contenedor-ayuda-1">
      <div id="contenedor-ayuda-2">

        <div id="contenedor-crispy" class='container col-10 col-md-7 pt-2'>
          {% crispy form %}
        </div>

        <div id="contenedor-ayuda-tab" style="display: none;" class='col-12 col-lg-8'>
          <ul class="nav nav-tabs justify-content-center rounded">
            <li class="nav-item">
              <a class="nav-link text-white active" data-bs-toggle="pill" href="#ayuda">Guía</a>
            </li>
          </ul>
          <div class="tab-content">
            <div id="ayuda" class="container tab-pane show active">
              <div class="table-wrapper">
                {% include 'proyectando-ahorro/ayuda-app.html' %}
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  
  {% endif %}
  
  {% if request.method == 'POST' %}
    <div class="container-fluid px-1">
      <div class='row'>
        <div class='col-12 col-lg-4 pt-2 pt-lg-5'>
          {% crispy form %}
        </div>

        <div class='col-12 col-lg-8'>
          <ul class="nav nav-tabs justify-content-center rounded">
      
            <li class="nav-item border">
              <a class="nav-link text-white active" data-bs-toggle="pill" href="#pie">Resumen</a>
            </li>
            <li class="nav-item border">
              <a class="nav-link text-white" data-bs-toggle="pill" href="#df">Tabla</a>
            </li>
            <li class="nav-item border">
              <a class="nav-link text-white" data-bs-toggle="pill" href="#ayuda">Guía</a>
            </li>
                  
          </ul>
                
          <div class="tab-content">
                  
            <div id="pie" class="container-fluid tab-pane fade show active">
              <div class="container-fluid">
                <div class="row justify-content-center">
                  <div class='col-12 col-md-4 pt-3'>
                    {% include 'proyectando-ahorro/t-resumen-proyecto.html' %}
                  </div>
                        
                  <div class='col-12 col-md-6'>
                    {% if pie %}
                      <img src="data:image/png;base64,{{ pie }}" alt="pie chart">
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
                  
            <div id="df" class="container-fluid text-center tab-pane fade show">
              {% comment %} df {% endcomment %}
              <div class="table-wrapper">
                {% if df %}
                {% autoescape off %}
                {{ df }}
                {% endautoescape %}
                {% endif %}
              </div>
            </div>
                  
            <div id="ayuda" class="container tab-pane fade show">
              
              <div class="container-fluid table-wrapper">
                
                {% include 'proyectando-ahorro/ayuda-app.html' %}
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
  <script src={% static 'js/ahorro.js' %}></script>
{% endblock body %}
            