body {
    padding-top: 65px;
}

.asteriskField {
    display: none;
}

.nav-tabs .nav-link.active {
    background-color: black;
}

.table-wrapper {
    max-height: 70vh;
    overflow: auto;
    display:inline-block;
  }