body {
    padding-top: 65px;
}

.asteriskField {
    display: none;
}

.nav-tabs .nav-link.active {
    background-color: black;
}

.table-wrapper {
    max-height: 70vh;
    overflow: auto;
    display:inline-block;
}

input:hover {
    background-color: #18e9d7;
}

input[type="radio"] + label {
    background-color: aliceblue;
    width: 100%;
    padding-left: 5%;
}

@media screen and (max-width: 494px) {
    .navbar-brand {
        display: none;
    }
}